In [9]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [4]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [5]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [6]:
import pandas as pd
import numpy as np
import gzip

In [7]:
# load the 2017 data
with gzip.open('./dw-data/201701scripts_sample.csv.gz', 'rb') as f:
    scripts = pd.read_csv(f)

print('Shape of scripts', scripts.shape)
scripts.head()

Shape of scripts (973193, 7)

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [8]:
with gzip.open('./dw-data/practices.csv.gz', 'rb') as f:
    practices_0 = pd.read_csv(f)
    
print('Shape of practices:', practices_0.shape)
practices_0.head()

Shape of practices: (12019, 7)

,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
0,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ
4,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

In [9]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = practices_0.rename({practices_0.columns[i]: col_names[i] for i in np.arange(len(col_names))}, axis = 1)
print(practices.shape)
practices.head()

(12019, 7)

,code,name,addr_1,addr_2,borough,village,post_code
0,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ
4,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

In [10]:
with gzip.open('./dw-data/chem.csv.gz', 'rb') as f:
    chem = pd.read_csv(f)
print('Shape of chem: ', chem.shape)
chem.head()

Shape of chem:  (3487, 2)

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [11]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [12]:
scripts['items'].median()

2.0

In [13]:
def describe(df, key):
    total = df[key].sum()
    mean = df[key].mean()
    s = df[key].std()
    q25 = df[key].quantile(0.25)
    med = df[key].median()
    q75 = df[key].quantile(0.75)
    
    return (total, mean, s, q25, med, q75)

In [14]:
summary_stats = [('items', describe(scripts,'items')), ('quantity', describe(scripts,'quantity')), ('nic', describe(scripts,'nic')), ('act_cost', describe(scripts,'act_cost'))]

In [15]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [16]:
sum_items = scripts.groupby('bnf_name')['items'].sum()
print(sum_items)

bnf_name
365 Film 10cm x 12cm VP Adh Film Dress       2
365 Non Adherent 10cm x 10cm Pfa Plas Fa     3
365 Non Adherent 10cm x 20cm Pfa Plas Fa     1
365 Non Woven Island 8cm x 10cm Adh Dres     1
365 Transpt Island 5cm x 7.2cm VP Adh Fi     2
                                            ..
nSpire PiKo-1 Stnd Range Peak Flow Meter     1
nSpire Pocket Peak Low Range Peak Flow M     4
nSpire Pocket Peak Stnd Range Peak Flow      8
oraNurse_Toothpaste Orig (1450ppm)           4
palmdoc (Reagent)_Strips                    59
Name: items, Length: 13471, dtype: int64

In [17]:
most_common_item = [(sum_items.idxmax(), sum_items.max())]

In [18]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [19]:
# change the 'practice' column name to 'code'
scripts = scripts.rename({'practice': 'code'}, axis = 1)
scripts.head()

,code,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [20]:
# merge two data frames: "scripts" and "practices"
merged_df = pd.merge(scripts, practices, on = ['code'])

In [21]:
print(merged_df.shape)
merged_df.head()

(1134693, 13)

,code,bnf_code,bnf_name,items,nic,act_cost,quantity,name,addr_1,addr_2,borough,village,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF

In [22]:
# Group by postal code and bnf_name and calculate the sum of items: 
sum_items = merged_df.groupby(['post_code', 'bnf_name'])['items'].sum()

In [23]:
sum_items_df = sum_items.to_frame()
sum_items_df.head()

                                                    items
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C      7
          3m Health Care_Cavilon No Sting Barrier       2
          Abasaglar KwikPen_100u/ml 3ml Pf Pen          2
          Abidec_Dps                                   63
          Able Spacer + Sml/Med Mask                    1

In [24]:
# Calculate the total of items for each postal code: 
total_items_per_postcode = sum_items.groupby(level = 'post_code').sum()

In [25]:
total_items_per_postcode

post_code
B11 4BW     22731
B12 9LP     23236
B18 7AL     20508
B21 9RY     31027
B23 6DJ     28011
            ...
WS7 0EW     14122
WS9 8AJ     24483
WV13 2DR    36381
YO11 1UB    28507
YO16 4LZ    53847
Name: items, Length: 289, dtype: int64

In [26]:
type(total_items_per_postcode)

pandas.core.series.Series

In [27]:
total_items_per_postcode_df = total_items_per_postcode.to_frame()

In [28]:
total_items_per_postcode_df = total_items_per_postcode_df.rename({'items': 'total per post code'}, axis = 1)
total_items_per_postcode_df.head()

           total per post code
post_code
B11 4BW                  22731
B12 9LP                  23236
B18 7AL                  20508
B21 9RY                  31027
B23 6DJ                  28011

In [29]:
# merge the dataframe 'total_items_per_postcode_df' to 'sum_items_df'
sum_items_df_merge = sum_items_df.merge(total_items_per_postcode_df, on = ['post_code'], how = 'left')

In [30]:
sum_items_df_merge.head()

           items  total per post code
post_code
B11 4BW        7                22731
B11 4BW        2                22731
B11 4BW        2                22731
B11 4BW       63                22731
B11 4BW        1                22731

In [31]:
# add column 'total per post code' to the dataframe "sum_items_df"
sum_items_df['total per post code'] = list(sum_items_df_merge['total per post code'])

In [32]:
sum_items_df.head()

                                                    items  total per post code
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C      7                22731
          3m Health Care_Cavilon No Sting Barrier       2                22731
          Abasaglar KwikPen_100u/ml 3ml Pf Pen          2                22731
          Abidec_Dps                                   63                22731
          Able Spacer + Sml/Med Mask                    1                22731

In [33]:
# calculate the ratio of items by 'bnf_name'
sum_items_df['ratio of items'] = sum_items_df['items']/sum_items_df['total per post code']

In [34]:
sum_items_df.head()

                                                    items  \
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C      7
          3m Health Care_Cavilon No Sting Barrier       2
          Abasaglar KwikPen_100u/ml 3ml Pf Pen          2
          Abidec_Dps                                   63
          Able Spacer + Sml/Med Mask                    1

                                                    total per post code  \
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C                22731
          3m Health Care_Cavilon No Sting Barrier                 22731
          Abasaglar KwikPen_100u/ml 3ml Pf Pen                    22731
          Abidec_Dps                                              22731
          Able Spacer + Sml/Med Mask                              22731

                                                    ratio of items
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C        0.000308
          3m Health Care_Cavilon No Sting Barrier         0.000088
          Abasaglar KwikPen_100u/ml 3ml Pf Pen            0.000088
          Abidec_Dps                                      0.002772
          Able Spacer + Sml/Med Mask                      0.000044

In [35]:
ranged_df = sum_items_df.sort_values(['post_code', 'ratio of items', 'bnf_name'], ascending = [True, False, True])

In [36]:
ranged_df.head()

                                              items  total per post code  \
post_code bnf_name
B11 4BW   Salbutamol_Inha 100mcg (200 D) CFF    706                22731
          Paracet_Tab 500mg                     451                22731
          Metformin HCl_Tab 500mg               387                22731
          Lansoprazole_Cap 30mg (E/C Gran)      385                22731
          Amoxicillin_Cap 500mg                 350                22731

                                              ratio of items
post_code bnf_name
B11 4BW   Salbutamol_Inha 100mcg (200 D) CFF        0.031059
          Paracet_Tab 500mg                         0.019841
          Metformin HCl_Tab 500mg                   0.017025
          Lansoprazole_Cap 30mg (E/C Gran)          0.016937
          Amoxicillin_Cap 500mg                     0.015397

In [37]:
# reset index for 'ranged_df'
ranged_df_rs = ranged_df.reset_index()

In [38]:
ranged_df_rs.head()

,post_code,bnf_name,items,total per post code,ratio of items
0,B11 4BW,Salbutamol_Inha 100mcg (200 D) CFF,706,22731,0.031059
1,B11 4BW,Paracet_Tab 500mg,451,22731,0.019841
2,B11 4BW,Metformin HCl_Tab 500mg,387,22731,0.017025
3,B11 4BW,Lansoprazole_Cap 30mg (E/C Gran),385,22731,0.016937
4,B11 4BW,Amoxicillin_Cap 500mg,350,22731,0.015397

In [39]:
# number of postal codes
len(set(ranged_df_rs['post_code']))

289

In [40]:
# set of all postal codes
s = set(ranged_df_rs['post_code'])

In [41]:
list_s = ['B11 4BW',
 'B12 9LP',
 'B18 7AL',
 'B21 9RY',
 'B23 6DJ',
 'B26 1TH',
 'B61 0AZ',
 'B70 7AW',
 'B72 1RL',
 'B8 1RZ',
 'B9 5PU',
 'B90 3LX',
 'BA5 1XJ',
 'BB11 2DL',
 'BB12 8BS',
 'BB2 1AX',
 'BB3 1PY',
 'BB4 5SL',
 'BB4 7PL',
 'BB7 2JG',
 'BB8 0JZ',
 'BB9 7SR',
 'BD16 4RP',
 'BD19 5AP',
 'BD3 8QH',
 'BD4 7SS',
 'BH14 0DJ',
 'BH14 9ET',
 'BH18 8EE',
 'BH23 3AF',
 'BL1 3RG',
 'BL1 8TU',
 'BL2 6NT',
 'BL3 5HP',
 'BL9 0NJ',
 'BL9 0SN',
 'BN1 6AG',
 'BN1 8DD',
 'BN9 9PW',
 'BR2 9GT',
 'BR3 3FD',
 'BS16 3TD',
 'BS23 3HQ',
 'BS4 1WH',
 'BS4 4HU',
 'BS48 2XX',
 'BS48 3HA',
 'CA11 8HW',
 'CB22 3HU',
 'CB9 8HF',
 'CH1 4DS',
 'CH41 8DB',
 'CH44 5UF',
 'CH62 5HS',
 'CH62 6EE',
 'CH65 6TG',
 'CH66 3PB',
 'CM18 6LY',
 'CR0 0JA',
 'CT11 8AD',
 'CV1 4FS',
 'CV12 8NQ',
 'CV21 2DN',
 'CV6 2FL',
 'CV6 6DR',
 'CW1 3AW',
 'CW5 5NX',
 'CW7 1AT',
 'DA1 2HA',
 'DA11 8BZ',
 'DN16 2AB',
 'DN22 7XF',
 'DN31 3AE',
 'DN34 4GB',
 'DN36 4QG',
 'DN6 0HZ',
 'DN8 4BQ',
 'DY11 6SF',
 'E15 4ES',
 'E7 0EP',
 'FY2 0JG',
 'FY4 1TJ',
 'FY5 2TZ',
 'FY5 3LF',
 'FY7 8GU',
 'FY8 5DZ',
 'GL1 3PX',
 'GL20 5GJ',
 'GL20 5QQ',
 'GL20 5RY',
 'GL50 4DP',
 'GU9 9QS',
 'HA0 4UZ',
 'HA3 7LT',
 'HD6 1AT',
 'HG1 5AR',
 'HR1 2JB',
 'HR6 8HD',
 'HU7 4DW',
 'HU9 2LJ',
 'IG7 4DF',
 'IP22 4WG',
 'KT12 3LB',
 'KT14 6DH',
 'KT16 8HZ',
 'KT6 6EZ',
 'KT6 7QU',
 'L31 0DJ',
 'L31 8BP',
 'L31 8BR',
 'L34 1ND',
 'L36 0UB',
 'L36 5TH',
 'L36 7XY',
 'L5 0QW',
 'L7 6HD',
 'L8 6QP',
 'L9 1AD',
 'LA1 1PN',
 'LA1 2LG',
 'LA1 4JS',
 'LE10 1DS',
 'LE18 2EW',
 'LE2 9BU',
 'LE5 3GH',
 'LE7 2EQ',
 'LN1 2NU',
 'LN2 2JP',
 'LN6 0QQ',
 'LN7 6NX',
 'LS9 9EF',
 'M11 4EJ',
 'M13 9UJ',
 'M22 5RX',
 'M22 9UH',
 'M26 2SP',
 'M28 3AT',
 'M30 0NU',
 'M34 2AJ',
 'M34 3RA',
 'M35 0AD',
 'M7 1RD',
 'ME12 1UP',
 'ME12 3LT',
 'ME8 8AA',
 'N12 9SS',
 'N15 4JR',
 'N9 0TW',
 'N9 7HD',
 'NE10 9QG',
 'NE20 9SD',
 'NE24 1DX',
 'NE24 1HD',
 'NE27 0HJ',
 'NE29 0SF',
 'NE31 1NU',
 'NE33 4JP',
 'NE37 2PU',
 'NE38 7NQ',
 'NE38 8JF',
 'NG10 1RY',
 'NG2 7SD',
 'NG6 8QJ',
 'NG7 3GW',
 'NG7 5HY',
 'NG8 6AS',
 'NN16 8DN',
 'NN3 8DW',
 'NR28 0BQ',
 'NW10 8RY',
 'OL1 1NL',
 'OL11 1DN',
 'OL2 6QW',
 'OL4 1YN',
 'OL6 6HD',
 'OL6 7SR',
 'OL9 0LH',
 'OL9 7AY',
 'OX12 9BN',
 'OX16 9AD',
 'PE1 2QP',
 'PE21 8EG',
 'PL7 1AD',
 'PO11 9AP',
 'PR25 1HR',
 'PR3 1PB',
 'RM3 9SU',
 'S6 4JQ',
 'S63 9EH',
 'S65 1DA',
 'S70 1QE',
 'S74 9AF',
 'SE1 6JP',
 'SE15 5LJ',
 'SE15 6DB',
 'SE17 3BD',
 'SE25 5NT',
 'SE8 4BG',
 'SG8 8HY',
 'SK11 6JL',
 'SK6 1ND',
 'SK8 3JD',
 'SK8 6LU',
 'SL9 9SA',
 'SM3 8EP',
 'SM6 0HY',
 'SR4 7XF',
 'SR4 9AS',
 'SR5 2LT',
 'SR7 7JE',
 'SR8 2RT',
 'SS0 7AF',
 'SS13 3HQ',
 'SS4 1AY',
 'SS7 4EA',
 'SS8 0JA',
 'SS9 5UU',
 'ST1 4PB',
 'ST3 1EQ',
 'ST3 5DQ',
 'ST3 6AB',
 'ST7 2LU',
 'ST7 4AY',
 'ST8 6AG',
 'TF3 2JZ',
 'TF4 2LL',
 'TN24 0GP',
 'TN34 1BA',
 'TQ2 6HW',
 'TQ2 8JG',
 'TR1 2JA',
 'TR1 3ER',
 'TS1 2NX',
 'TS10 4NW',
 'TS14 7DJ',
 'TS17 0EE',
 'TS23 2DG',
 'TS24 7PW',
 'TS3 6AL',
 'TS6 6TD',
 'TS8 0TL',
 'TW13 4GU',
 'TW3 2DY',
 'TW3 3LN',
 'TW5 9ER',
 'TW8 8DS',
 'UB5 6WL',
 'W10 6DZ',
 'W12 7FG',
 'W4 1RX',
 'WA1 3RB',
 'WA10 2DJ',
 'WA11 0JN',
 'WA11 0NA',
 'WA15 6PH',
 'WA3 3GS',
 'WA6 6RX',
 'WA7 1AB',
 'WA7 2UT',
 'WA9 1LN',
 'WD18 0JP',
 'WD18 7QR',
 'WD23 2NN',
 'WD3 7DJ',
 'WF13 1HN',
 'WF16 0HH',
 'WF5 8DF',
 'WF9 3AP',
 'WN2 5NG',
 'WN3 5HL',
 'WN5 9QX',
 'WN7 1HR',
 'WN7 2PE',
 'WR11 4BS',
 'WR14 2GP',
 'WR9 8RD',
 'WS1 3PS',
 'WS10 8SY',
 'WS11 9SE',
 'WS13 6JL',
 'WS13 7HT',
 'WS2 0BA',
 'WS3 1ET',
 'WS3 3JP',
 'WS7 0EW',
 'WS9 8AJ',
 'WV13 2DR',
 'YO11 1UB',
 'YO16 4LZ']

In [42]:
ranged_df_rs_new = ranged_df_rs[['post_code', 'bnf_name', 'ratio of items']]
print(ranged_df_rs_new.shape)
ranged_df_rs_new.head()

(612859, 3)

  post_code                            bnf_name  ratio of items
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF        0.031059
1   B11 4BW                   Paracet_Tab 500mg        0.019841
2   B11 4BW             Metformin HCl_Tab 500mg        0.017025
3   B11 4BW    Lansoprazole_Cap 30mg (E/C Gran)        0.016937
4   B11 4BW               Amoxicillin_Cap 500mg        0.015397

In [43]:
items_by_region = []
for i in np.arange(0,100):
    sub_df = ranged_df_rs_new[ranged_df_rs_new['post_code']==list_s[i]]
    items_by_region.append(tuple(sub_df.iloc[0]))

In [44]:
print(len(items_by_region))
#print(items_by_region)

100

In [45]:
#items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [46]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  0.8600000000000005
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [47]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [48]:
opioids_join = '|'.join(opioids)
opioids_join

'morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine'

In [49]:
opioid_codes = chem.loc[chem['NAME'].str.contains(opioids_join, case=False)]['CHEM SUB'].tolist()
len(opioid_codes)

35

In [50]:
chem_new = chem
chem_new.columns = ['bnf_code','chem_name']
chem_new.head()

    bnf_code                           chem_name
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

In [51]:
scripts.head()

,code,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [52]:
scripts['opioid_prescription'] = scripts['bnf_code'].isin(opioid_codes)

In [53]:
scripts = scripts.rename({'code':'practice'}, axis = 1)

In [54]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioid_prescription
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

In [55]:
set(scripts.opioid_prescription)

{False, True}

In [56]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ
4,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

In [57]:
pract = practices[['code', 'name']]
pract.columns = ['practice', 'name']
pract.head()

  practice                             name
0   A81002       QUEENS PARK MEDICAL CENTRE
1   A81003        VICTORIA MEDICAL PRACTICE
2   A81004           WOODLANDS ROAD SURGERY
3   A81005               SPRINGWOOD SURGERY
4   A81006  TENNANT STREET MEDICAL PRACTICE

In [58]:
opioids_per_practice = scripts.groupby('practice')['opioid_prescription'].mean().rename('frac')
opioids_per_practice.head()

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: frac, dtype: float64

In [59]:
opioids_per_practice_std = scripts.groupby('practice')['opioid_prescription'].std().rename('frac_std')
opioids_per_practice_std.head()

practice
A81005    0.179162
A81007    0.203666
A81011    0.210753
A81012    0.202466
A81017    0.191578
Name: frac_std, dtype: float64

In [60]:
overall_rate = scripts['opioid_prescription'].mean()
overall_rate

0.03580276471367961

In [61]:
overall_rate_std = scripts['opioid_prescription'].std()
overall_rate_std

0.18579817605238425

In [62]:
relative_opioids_per_practice = (opioids_per_practice - overall_rate).rename('relative')
relative_opioids_per_practice.head()

practice
A81005   -0.002624
A81007    0.007526
A81011    0.010753
A81012    0.006990
A81017    0.002337
Name: relative, dtype: float64

In [63]:
opioid = scripts.groupby('practice')['opioid_prescription'].sum().rename('opioid')
opioid.head()

practice
A81005    50.0
A81007    63.0
A81011    73.0
A81012    57.0
A81017    82.0
Name: opioid, dtype: float64

In [64]:
total = scripts.groupby('practice')['bnf_code'].count().rename('total')
total.head()

practice
A81005    1507
A81007    1454
A81011    1568
A81012    1332
A81017    2150
Name: total, dtype: int64

In [65]:
standard_error_per_practice = (overall_rate_std/(total**0.5)).rename('std_err')
standard_error_per_practice.head()

practice
A81005    0.004786
A81007    0.004873
A81011    0.004692
A81012    0.005091
A81017    0.004007
Name: std_err, dtype: float64

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [66]:
opioid_scores = (relative_opioids_per_practice/standard_error_per_practice).rename('opioid_scores')
opioid_scores.head()

practice
A81005   -0.548306
A81007    1.544557
A81011    2.291795
A81012    1.373060
A81017    0.583168
Name: opioid_scores, dtype: float64

In [67]:
merged = pd.concat([opioid, total, opioids_per_practice, relative_opioids_per_practice, standard_error_per_practice,opioid_scores], axis=1)

In [68]:
merged = merged.reset_index()

In [69]:
merged.head()

  practice  opioid  total      frac  relative   std_err  opioid_scores
0   A81005    50.0   1507  0.033179 -0.002624  0.004786      -0.548306
1   A81007    63.0   1454  0.043329  0.007526  0.004873       1.544557
2   A81011    73.0   1568  0.046556  0.010753  0.004692       2.291795
3   A81012    57.0   1332  0.042793  0.006990  0.005091       1.373060
4   A81017    82.0   2150  0.038140  0.002337  0.004007       0.583168

In [70]:
final_df = merged.merge(pract, on='practice', how='left')

In [71]:
final_df.head()

,practice,opioid,total,frac,relative,std_err,opioid_scores,name
0,A81005,50.0,1507,0.033179,-0.002624,0.004786,-0.548306,SPRINGWOOD SURGERY
1,A81007,63.0,1454,0.043329,0.007526,0.004873,1.544557,BANKHOUSE SURGERY
2,A81011,73.0,1568,0.046556,0.010753,0.004692,2.291795,CHADWICK PRACTICE
3,A81012,57.0,1332,0.042793,0.006990,0.005091,1.373060,WESTBOURNE MEDICAL CENTRE
4,A81017,82.0,2150,0.038140,0.002337,0.004007,0.583168,WOODBRIDGE PRACTICE

In [72]:
final_df.sort_values('opioid_scores', ascending = False , inplace=True)

In [73]:
final_df.head()

,practice,opioid,total,frac,relative,std_err,opioid_scores,name
829,Y01852,6.0,7,0.857143,0.821340,0.070225,11.695818,NATIONAL ENHANCED SERVICE
874,Y03006,2.0,2,1.000000,0.964197,0.131379,7.339043,OUTREACH SERVICE NH / RH
895,Y03668,11.0,60,0.183333,0.147531,0.023986,6.150582,BRISDOC HEALTHCARE SERVICES OOH
296,G81703,7.0,36,0.194444,0.158642,0.030966,5.123032,H&R P C SPECIAL SCHEME
948,Y04997,28.0,321,0.087227,0.051425,0.010370,4.958866,HMR BARDOC OOH

In [74]:
final = final_df.drop_duplicates('name')
final.head()

,practice,opioid,total,frac,relative,std_err,opioid_scores,name
829,Y01852,6.0,7,0.857143,0.821340,0.070225,11.695818,NATIONAL ENHANCED SERVICE
874,Y03006,2.0,2,1.000000,0.964197,0.131379,7.339043,OUTREACH SERVICE NH / RH
895,Y03668,11.0,60,0.183333,0.147531,0.023986,6.150582,BRISDOC HEALTHCARE SERVICES OOH
296,G81703,7.0,36,0.194444,0.158642,0.030966,5.123032,H&R P C SPECIAL SCHEME
948,Y04997,28.0,321,0.087227,0.051425,0.010370,4.958866,HMR BARDOC OOH

In [75]:
result = final[['name','opioid_scores','total']]
result.head()

                                name  opioid_scores  total
829        NATIONAL ENHANCED SERVICE      11.695818      7
874         OUTREACH SERVICE NH / RH       7.339043      2
895  BRISDOC HEALTHCARE SERVICES OOH       6.150582     60
296           H&R P C SPECIAL SCHEME       5.123032     36
948                   HMR BARDOC OOH       4.958866    321

In [76]:
anomalies = result.head(100)

In [77]:
anomalies = anomalies.values.tolist()

In [78]:
anomalies

[['NATIONAL ENHANCED SERVICE', 11.695817862936027, 7],
 ['OUTREACH SERVICE NH / RH', 7.339043019238823, 2],
 ['BRISDOC HEALTHCARE SERVICES OOH', 6.1505817490838295, 60],
 ['H&R P C SPECIAL SCHEME', 5.123032414033079, 36],
 ['HMR BARDOC OOH', 4.958866438487605, 321],
 ['INTEGRATED CARE 24 LTD (CWSX OOH)', 4.8888781604828235, 426],
 ['DARWEN HEALTHCARE', 4.8391589686363385, 1917],
 ['THE LIMES MEDICAL PRACTICE', 4.546841872334426, 1321],
 ['IC24 LTD (BRIGHTON & HOVE OOH)', 4.335047010605197, 357],
 ['OLDHAM 7 DAY ACCESS HUB2 OOH', 4.31178403661019, 56],
 ['IC24 LTD (NORFOLK & WISBECH OOH)', 4.2575005924727645, 489],
 ['ROSSENDALE MIU & OOH', 4.256827446322491, 18],
 ['BURY WALK-IN CENTRE', 4.150589122881536, 138],
 ['IC24 LTD (HORSHAM & MID SUSSEX OOH)', 3.7816207038443523, 215],
 ['LCW HOUNSLOW CCG OOH', 3.582848546206269, 69],
 ['WEEKEND WORKING EASINGTON NORTH', 3.565938771129764, 278],
 ['COMPASS ENFIELD', 3.5587202651067935, 7],
 ['BASSETLAW DRUG & ALCOHOL SERVICE', 3.5332641025115423, 2],
 ['THE PARK SURGERY', 3.511114736389202, 969],
 ['CHAPEL STREET SURGERY', 3.4907459502707447, 1504],
 ['BEECHWOOD MEDICAL PRACTICE', 3.4747953064338977, 1552],
 ['BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 3.454423428527398, 46],
 ['CARDEN SURGERY', 3.4503113243413193, 1375],
 ['GP IN A&E (WIC)', 3.3959177486386096, 87],
 ['NORTHAMPTONSHIRE OUT OF HOURS SERVICE', 3.39355927807245, 382],
 ['NORTHAMPTONSHIRE OOH SERVICE', 3.39355927807245, 382],
 ['WORDEN MEDICAL CENTRE', 3.341328344384246, 1898],
 ['BURY OOH', 3.321529559970347, 292],
 ['IC24 SOUTHEND/CP&R CCG OOH', 3.2211153199464, 336],
 ['SOUTH ESSEX OOH', 3.2211153199464, 336],
 ['IC24 LTD (CRAWLEY OOH)', 3.1942640976202856, 173],
 ['EASTBOURNE  HAILSHAM & SEAFORD OOH', 2.9896925335154507, 255],
 ['THE ROSEBERRY PRACTICE', 2.9803589486570257, 1450],
 ['SHAFTESBURY MEDICAL CTR.', 2.904593003935284, 2126],
 ['THE RICHMOND HILL PRACTICE', 2.8601891978583245, 1729],
 ['DGS OOH (INTEGRATED CARE 24 LTD)', 2.795651191074179, 325],
 ['THE LAKESIDE PRACTICE', 2.7801243484267157, 1554],
 ['DEWSBURY MSK SERVICE', 2.7736443521856917, 3],
 ['HALLIWELL SURGERY 1', 2.6902312553464682, 1124],
 ['THE ROYTON & CROMPTON FAMILY PRACTICE', 2.6674099502870625, 2054],
 ['PRACTICE 3  MEDICAL CENTRE  BRIDLINGTON', 2.6526642039852844, 1936],
 ['LCWUCC - IUC NCL', 2.5927932420214392, 443],
 ['DR MOKASHI', 2.496887689055938, 1341],
 ['THE CREST FAMILY PRACTICE', 2.494358442548829, 1294],
 ['PERKINS PRACTICE', 2.479571342887134, 899],
 ['DARLASTON HEALTH CENTRE', 2.4456345065842653, 996],
 ["DR MA SIMS' PRACTICE", 2.4372766106456107, 1857],
 ['1/LOWER BROUGHTON MEDICAL PRACTICE', 2.435636753514273, 1044],
 ['CORNWALLIS PLAZA SURGERY', 2.424202462055629, 2326],
 ['FAIRMORE MEDICAL PRACTICE', 2.382408598971051, 1288],
 ['LAWLEY MEDICAL PRACTICE', 2.373577973078906, 1409],
 ["PEEL GP'S", 2.3535943384931546, 1557],
 ['PEEL GPS DR JACKSON', 2.3535943384931546, 1557],
 ['PEEL GPS', 2.3535943384931546, 1557],
 ['EASTLANDS MEDICAL CENTRE', 2.325396683274206, 1369],
 ['MAGHULL HEALTH CENTRE (DR SAPRE)', 2.3194074094375097, 1322],
 ['INTEGRATED CARE 24 LIMITED OOH', 2.3106497615538943, 511],
 ['WILLOW BANK SURGERY', 2.295642132037915, 1934],
 ['IC24 LTD (HWLH OOH)', 2.2949004338925127, 216],
 ['CHADWICK PRACTICE', 2.2917945205697308, 1568],
 ['C&WPT OOH SERVICE', 2.270852401273787, 341],
 ['THE MERRYWOOD PRACTICE', 2.270550955639659, 1234],
 ['LEYLAND SURGERY', 2.251774286539937, 1213],
 ['WALKDEN MEDICAL PRACTICE', 2.2415736140706994, 1577],
 ['RADCLIFFE MEDICAL PRACTICE', 2.239607033459532, 1553],
 ['RIBBLESDALE GP-DR SUBBIAH', 2.209745891261483, 1100],
 ['TOWNSIDE SURGERY', 2.209745891261483, 1100],
 ['THE MAZHARI & KHAN PRACTICE', 2.2006627122644895, 912],
 ['ST ANDREWS - BRANSHOLME', 2.1967025909056024, 1634],
 ['JAMES ALEXANDER FAMILY PRACTICE', 2.1967025909056024, 1634],
 ['B&H INTERMEDIATE CARE SERVICE', 2.1862131918267544, 456],
 ['HARDEN SURGERY', 2.155495816284959, 1228],
 ['THE GATEWAY MEDICAL PRACTICE', 2.154423496545371, 1349],
 ['QUAYSIDE MEDICAL PRACTICE', 2.1535448371359025, 1422],
 ['HASTINGS AND ROTHER OOH', 2.076490970994684, 291],
 ['FISHPONDS FAMILY PRACTICE', 2.0743592136603786, 1632],
 ['DRS CLOAK  CHOI AND MILLIGAN', 2.0511156727220916, 1661],
 ["ST MARY'S SURGERY", 2.041026500575296, 981],
 ['THE THORNTON PRACTICE', 1.9970130183083867, 1970],
 ['IC24 LTD (EAST SURREY OOH)', 1.9530599800408153, 194],
 ['CORNISHWAY GROUP PRACTICE', 1.9529030654485127, 1506],
 ['PREMIER HEALTH TEAM', 1.9342677920567377, 876],
 ['CONCORD MEDICAL PRACTICE', 1.9339605744520654, 1386],
 ['COULBY MEDICAL PRACTICE', 1.9268085445885355, 1585],
 ['PARKSIDE MEDICAL CENTRE', 1.9235518278308144, 1314],
 ['THE DISCOVERY PRACTICE', 1.9047661015943373, 1268],
 ['ANCORA MEDICAL PRACTICE', 1.8854159223309173, 2347],
 ['DARWEN HEALTHLINK', 1.8822754121466374, 2019],
 ['JALAL PRACTICE', 1.8661104279692897, 885],
 ['ROOLEY LANE MED. CENTRE', 1.8635817801511316, 1522],
 ['GREAT HOMER STREET MEDICAL CENTRE', 1.813002119840964, 1062],
 ['NORTHPOINT', 1.8024326949572382, 1137],
 ['THE CRESCENT SURGERY', 1.7989165864147443, 1734],
 ['BROOKVALE PRACTICE', 1.7979440966591638, 1484],
 ['LEIGH NHS WIC', 1.7760099128664422, 162],
 ['DR SP SINGH AND PARTNERS', 1.7720416435781805, 1840],
 ['BELGRAVE SURGERY', 1.7643723369327995, 1291],
 ['THE PARKS MEDICAL PRACTICE', 1.7589687048174791, 1466],
 ['THE ROSS PRACTICE', 1.7231557395207378, 1648],
 ['THOMAS WALKER', 1.69692378556541, 1377]]

In [79]:
grader.score.dw__script_anomalies(anomalies)

==================
Error!
You have been rate limited for exceeding the limit of 3 per 1 minute.
Please slow down your submission rate.
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [80]:
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz')

In [81]:
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [82]:
print(scripts16.shape)

(973193, 7)

In [83]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioid_prescription
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

In [84]:
# calculate the growth rate
growth = (scripts.bnf_name.value_counts() - scripts16.bnf_name.value_counts())/scripts16.bnf_name.value_counts()

In [85]:
growth

365 Film 10cm x 12cm VP Adh Film Dress           NaN
365 Film 15cm x 20cm VP Adh Film Dress           NaN
365 Film 4cm x 5cm VP Adh Film Dress             NaN
365 Non Adherent 10cm x 10cm Pfa Plas Fa    0.000000
365 Non Adherent 10cm x 20cm Pfa Plas Fa         NaN
                                              ...
nSpire PiKo-1 Stnd Range Peak Flow Meter   -0.500000
nSpire Pocket Peak Low Range Peak Flow M    1.000000
nSpire Pocket Peak Stnd Range Peak Flow     1.500000
oraNurse_Toothpaste Orig (1450ppm)          1.000000
palmdoc (Reagent)_Strips                    0.666667
Name: bnf_name, Length: 15424, dtype: float64

In [86]:
df = pd.DataFrame(dict(growth = growth, item16 = scripts16.bnf_name.value_counts())).reset_index()

In [87]:
df.head()

                                      index  growth  item16
0    365 Film 10cm x 12cm VP Adh Film Dress     NaN     NaN
1    365 Film 15cm x 20cm VP Adh Film Dress     NaN     1.0
2      365 Film 4cm x 5cm VP Adh Film Dress     NaN     1.0
3  365 Non Adherent 10cm x 10cm Pfa Plas Fa     0.0     3.0
4  365 Non Adherent 10cm x 20cm Pfa Plas Fa     NaN     NaN

In [88]:
df.fillna(0, inplace = True)

In [89]:
df.head()

                                      index  growth  item16
0    365 Film 10cm x 12cm VP Adh Film Dress     0.0     0.0
1    365 Film 15cm x 20cm VP Adh Film Dress     0.0     1.0
2      365 Film 4cm x 5cm VP Adh Film Dress     0.0     1.0
3  365 Non Adherent 10cm x 10cm Pfa Plas Fa     0.0     3.0
4  365 Non Adherent 10cm x 20cm Pfa Plas Fa     0.0     0.0

In [90]:
# remove the elements with less than 50 prescriptions
df = df[df['item16'] >= 50]

In [91]:
df.shape

(3519, 3)

In [92]:
# sort the dataframe by the descending order of growth rate
df = df.sort_values(by = 'growth', ascending = False)

In [93]:
df.head()

                                          index    growth  item16
1985            Butec_Transdermal Patch 5mcg/hr  3.467742    62.0
1983           Butec_Transdermal Patch 10mcg/hr  3.000000    69.0
5742   Fostair NEXThaler_Inh 200mcg/6mcg (120D)  1.430233    86.0
11270     Pneumococcal_Vac 0.5ml Vl (23 Valent)  1.269430   193.0
13357  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev  1.269231    52.0

In [94]:
# pick the top 50 and the last 50 elements:
script_growth = list(pd.concat([df.head(50), df.tail(50)]).itertuples(index = False, name = None))

In [95]:
script_growth

[('Butec_Transdermal Patch 5mcg/hr', 3.467741935483871, 62.0),
 ('Butec_Transdermal Patch 10mcg/hr', 3.0, 69.0),
 ('Fostair NEXThaler_Inh 200mcg/6mcg (120D)', 1.430232558139535, 86.0),
 ('Pneumococcal_Vac 0.5ml Vl (23 Valent)', 1.2694300518134716, 193.0),
 ('Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev', 1.2692307692307692, 52.0),
 ('Trulicity_Inj 1.5mg/0.5ml Pf Pen', 1.1851851851851851, 54.0),
 ('CosmoCol_Paed Oral Pdr Sach 6.9g', 1.1774193548387097, 62.0),
 ('Dulaglutide_Inj 1.5mg/0.5ml Pf Dev', 0.9634146341463414, 82.0),
 ('ViATIM_Vac D/Chamber 160u/25mcg 1ml Pfs', 0.912, 125.0),
 ('Empagliflozin_Tab 25mg', 0.896, 125.0),
 ('CareSens Lancets 0.31mm/30 Gauge', 0.8955223880597015, 67.0),
 ('Fostair_Inh 200mcg/6mcg (120D) CFF', 0.8616600790513834, 253.0),
 ('Orbis Nor Saline Sod Chlor 0.9% Nsl Dps', 0.8588235294117647, 85.0),
 ('Umeclidinium Brom_Inh 65mcg (30D)', 0.8275862068965517, 87.0),
 ('Ultibro Breezhaler_Pdr Inh Cap + Dev', 0.8016528925619835, 121.0),
 ('Medihoney_Barrier Crm', 0.7840909090909091, 88.0),
 ('Fluoxetine HCl_Oral Soln 20mg/5ml S/F', 0.7808219178082192, 73.0),
 ('TEE2 (Reagent)_Strips', 0.7777777777777778, 81.0),
 ('Zaluron XL_Tab 400mg', 0.7586206896551724, 58.0),
 ('Laxido_Paed Plain Oral Pdr Sach 6.9g', 0.7586206896551724, 174.0),
 ('Prednisolone_Oral Soln 5mg/5ml Ud', 0.726027397260274, 73.0),
 ('Buprenorphine_Patch 15mcg/hr (7day)', 0.7155963302752294, 109.0),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag S/C', 0.7037037037037037, 81.0),
 ('Octenisan_Antimicrobial Wsh Lot', 0.7027027027027027, 74.0),
 ('Duaklir Genuair_340mcg/12mcg (60D)', 0.6710526315789473, 152.0),
 ('Sod Chlor_Inh Soln 0.9% 2.5ml Ud Amp', 0.6419753086419753, 162.0),
 ('Coloplast_SenSura Mio Maxi Drnbl Bag L/C', 0.6274509803921569, 51.0),
 ('Flutiform_Inha 50/5mcg (120 D)', 0.625, 88.0),
 ('Ins Degludec_100u/ml 3ml Pf Pen', 0.6166666666666667, 60.0),
 ('CareSens Lancets 0.36mm/28 Gauge', 0.6111111111111112, 90.0),
 ('Epimax Crm 500g', 0.61, 100.0),
 ('Evacal D3_Tab Chble 400u/1.5g', 0.6046511627906976, 86.0),
 ('Shortec_Cap 20mg', 0.6029411764705882, 68.0),
 ('Co-Trimoxazole_Oral Susp 40/200mg/5mlS/F', 0.6, 50.0),
 ('Ciprofloxacin_Gran For Susp 250mg/5ml', 0.5921052631578947, 76.0),
 ('AgaMatrix Ultra-Thin Lancets 0.35mm/28 G', 0.5660377358490566, 53.0),
 ('Zemtard 120 XL_Cap 120mg', 0.5636363636363636, 55.0),
 ('Nutramigen 2 + LGG_Pdr', 0.5604395604395604, 91.0),
 ('Toujeo_300u/ml 1.5ml Pf SoloStar Pen', 0.5408805031446541, 159.0),
 ('Ins Tresiba_FlexTouch 100u/ml 3ml Pf Pen', 0.5405405405405406, 148.0),
 ('Longtec_Tab 30mg M/R', 0.5370370370370371, 108.0),
 ('Adalat_Cap 5mg', 0.5365853658536586, 82.0),
 ('Dexameth_Oral Soln 2mg/5ml S/F', 0.5294117647058824, 68.0),
 ('Haloperidol_Inj 5mg/ml 1ml Amp', 0.5288461538461539, 104.0),
 ('Lyclear_Dermal Crm 5%', 0.5211267605633803, 71.0),
 ('Valupak_Multivit & Mineral Tab OAD', 0.5098039215686274, 51.0),
 ('Coloplast_Sensura Mio Maxi Clsd Bag + Fl', 0.5056179775280899, 89.0),
 ('Medikinet XL_Cap 10mg', 0.48484848484848486, 99.0),
 ('Dovobet_Gel Applic', 0.48148148148148145, 54.0),
 ('Incruse Ellipta_Inh 55mcg (30D)', 0.4807692307692308, 208.0),
 ('Oxycodone HCl_Tab 20mg M/R', -0.4318181818181818, 264.0),
 ('Cardura XL_Tab 4mg', -0.43478260869565216, 69.0),
 ('Oxycodone HCl_Tab 80mg M/R', -0.4358974358974359, 78.0),
 ('Verapamil HCl_Cap 120mg M/R', -0.43790849673202614, 153.0),
 ('Topamax_Tab 100mg', -0.45161290322580644, 62.0),
 ('Opticrom_Allergy Eye Dps 2%', -0.4523809523809524, 126.0),
 ('Optilast_Eye Dps 0.05%', -0.45454545454545453, 55.0),
 ('Actonel_Once a Week Tab 35mg', -0.4576271186440678, 59.0),
 ('Premique_Tab 0.625mg/5mg', -0.47039473684210525, 304.0),
 ('Sunsense_Daily Face Crm Spf 50+', -0.48344370860927155, 151.0),
 ('Hydrocort/Crotamiton_Crm 0.25%/10%', -0.48936170212765956, 141.0),
 ('Azelastine HCl_Aq Eye Dps 0.05%', -0.5036231884057971, 276.0),
 ('Opticrom_Eye Dps 2% (Aq)', -0.5073891625615764, 203.0),
 ('Metoprolol Tart_Tab 200mg M/R', -0.509090909090909, 55.0),
 ('Rapitil_Eye Dps 2%', -0.5096774193548387, 155.0),
 ('Desloratadine_Oral Soln 2.5mg/5ml S/F', -0.5147058823529411, 136.0),
 ('Erythromycin_Ethylsuc Tab 500mg', -0.5154639175257731, 97.0),
 ('Aquacel Foam Adhesive 8cm x 8cm Wound Dr', -0.5294117647058824, 68.0),
 ('Zirtek_Allergy Tab 10mg', -0.5303030303030303, 66.0),
 ('Antaz Sulf/Xylomet_Eye Dps 0.5%/0.05%', -0.5454545454545454, 66.0),
 ('Vital 1.5kcal_Liq (Vanilla)', -0.5466666666666666, 75.0),
 ('Oxybutynin HCl_Oral Soln 2.5mg/5ml S/F', -0.5573770491803278, 61.0),
 ('Prazosin HCl_Tab 500mcg', -0.5581395348837209, 86.0),
 ('Artificial Saliva_Spy 50ml', -0.5586854460093896, 213.0),
 ('Sunsense_Ultra Lot Spf 50+', -0.5652173913043478, 368.0),
 ('Telfast 120_Tab 120mg', -0.5698924731182796, 93.0),
 ('Otrivine-Antistin_Eye Dps', -0.572463768115942, 138.0),
 ('Fexofenadine HCl_Tab 30mg', -0.5959595959595959, 297.0),
 ('Mag Trisil_Mix', -0.6119402985074627, 67.0),
 ('Glibenclamide_Tab 5mg', -0.6164383561643836, 146.0),
 ('Co-Danthrusate_Cap 50mg/60mg', -0.6296296296296297, 81.0),
 ('Ketotifen Fumar_Eye Dps 250mcg/ml', -0.6842105263157895, 57.0),
 ('Uvistat_Sun Crm Spf 50', -0.6917293233082706, 133.0),
 ('Haelan_Tape 7.5cm x 50cm', -0.7130434782608696, 115.0),
 ('Haelan_Tape 7.5cm x 20cm', -0.72, 100.0),
 ('Beconase_Hayfever Nsl Spy 50mcg (180 D)', -0.7384615384615385, 65.0),
 ('Uvistat_Sun Crm Spf 30', -0.7647058823529411, 68.0),
 ('Deep Freeze_Cold Gel 2%', -0.7758620689655172, 58.0),
 ('Adizem-SR_Tab 120mg', -0.8269230769230769, 52.0),
 ('Anugesic HC_Crm', -0.8541666666666666, 96.0),
 ('Sunsense_Sunsensitive Crm SPF 50+', -0.8562091503267973, 153.0),
 ('Hepatyrix_Vac 1440u/25mcg/ml 1ml Pfs', -0.875, 216.0),
 ('Climagest_Tab 2mg', -0.8939393939393939, 66.0),
 ('Climaval_Tab 2mg', -0.9015151515151515, 132.0),
 ('Orphenadrine HCl_Tab 50mg', -0.9117647058823529, 102.0),
 ('Hydroxyzine HCl_Oral Soln 10mg/5ml', -0.9148936170212766, 94.0),
 ('Ovysmen_Tab', -0.9253731343283582, 67.0),
 ('Climaval_Tab 1mg', -0.9264705882352942, 136.0),
 ('Climesse_Tab', -0.9420289855072463, 69.0),
 ('Polyalc_Eye Dps 1.4%', -0.9963235294117647, 272.0)]

In [96]:
#script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [97]:
grader.score.dw__script_growth(script_growth)

==================
Error!
You have been rate limited for exceeding the limit of 3 per 1 minute.
Please slow down your submission rate.
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [98]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
1,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
2,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
3,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ
4,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MED PRACT,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AT

In [99]:
practices.shape

(12019, 7)

In [100]:
practices_unique = practices.sort_values(['code', 'post_code']).drop_duplicates(subset = 'code')

In [101]:
group_by_bnf_code = scripts.groupby(['bnf_code'])['bnf_code'].count().reset_index(name = 'bnf_code_count')

In [102]:
group_by_bnf_code['p'] = group_by_bnf_code['bnf_code_count']/len(scripts)
px = 1/len(group_by_bnf_code)
print(px)

0.0005063291139240507

In [103]:
group_by_bnf_code['rare'] = np.where(group_by_bnf_code['p'] < 0.1*px, True, False)

In [104]:
scripts_rare = pd.merge(scripts, group_by_bnf_code, how = 'inner', on = 'bnf_code')

In [114]:
scripts_rare.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,opioid_prescription,bnf_code_count,p,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False,1035,0.001064,False
1,N81013,0106020C0,Bisacodyl_Tab E/C 5mg,19,28.10,28.14,860,False,1035,0.001064,False
2,N81029,0106020C0,Bisacodyl_Tab E/C 5mg,50,67.73,67.51,2074,False,1035,0.001064,False
3,N81029,0106020C0,Bisacodyl_Suppos 10mg,1,1.77,1.75,6,False,1035,0.001064,False
4,N81029,0106020C0,Dulcolax_Tab 5mg,1,3.78,3.61,56,False,1035,0.001064,False

In [115]:
total_cost_by_practice = scripts_rare.groupby('practice')['act_cost'].sum().reset_index(name = 'total_cost')

In [116]:
rare_cost_by_practice = scripts_rare[scripts_rare['rare'] == True].groupby('practice')['act_cost'].sum().reset_index(name = 'rare_cost')

In [119]:
rare_cost_by_practice.head()

  practice  rare_cost
0   A81005    1247.83
1   A81007     951.06
2   A81011     816.02
3   A81012    1145.11
4   A81017    1712.15

In [121]:
script_cost_by_practice = pd.merge(total_cost_by_practice, rare_cost_by_practice, on = 'practice', how = 'left')

In [124]:
script_cost_by_practice.fillna(0, inplace = True)

In [126]:
script_cost_by_practice['rare_cost_prop'] = script_cost_by_practice['rare_cost']/script_cost_by_practice['total_cost']

In [128]:
script_cost_by_practice.head()

  practice  total_cost  rare_cost  rare_cost_prop
0   A81005   103840.82    1247.83        0.012017
1   A81007   113482.49     951.06        0.008381
2   A81011   159507.03     816.02        0.005116
3   A81012    83296.81    1145.11        0.013747
4   A81017   232656.17    1712.15        0.007359

In [130]:
total_cost = scripts_rare['act_cost'].sum()
total_cost

66164096.12000001

In [132]:
total_rare_cost = scripts_rare[scripts_rare['rare'] == True]['act_cost'].sum()

In [133]:
overall_rare_cost = total_rare_cost/total_cost

In [135]:
script_cost_by_practice['relative_rare_cost_prop'] = script_cost_by_practice['rare_cost_prop'] - overall_rare_cost

In [137]:
script_cost_by_practice['standard_errors'] = script_cost_by_practice['relative_rare_cost_prop'].std()

In [139]:
script_cost_by_practice['z-score'] = script_cost_by_practice['relative_rare_cost_prop']/script_cost_by_practice['standard_errors']

In [140]:
print(script_cost_by_practice.shape)
script_cost_by_practice.head()

(856, 7)

,practice,total_cost,rare_cost,rare_cost_prop,relative_rare_cost_prop,standard_errors,z-score
0,A81005,103840.82,1247.83,0.012017,-0.003946,0.060509,-0.065216
1,A81007,113482.49,951.06,0.008381,-0.007582,0.060509,-0.125308
2,A81011,159507.03,816.02,0.005116,-0.010847,0.060509,-0.179263
3,A81012,83296.81,1145.11,0.013747,-0.002216,0.060509,-0.036615
4,A81017,232656.17,1712.15,0.007359,-0.008604,0.060509,-0.142190

In [142]:
practices_unique = practices.sort_values('name').groupby('code', sort = False).first()

In [144]:
practices_unique.reset_index(inplace = True)

In [145]:
merge_scripts_practice_z_scores = script_cost_by_practice.merge(practices_unique[['name', 'code']], how = 'inner', left_on = 'practice', right_on = 'code', sort = False)

In [148]:
merge_scripts_practice_z_scores.head()

,practice,total_cost,rare_cost,rare_cost_prop,relative_rare_cost_prop,standard_errors,z-score,name,code
0,A81005,103840.82,1247.83,0.012017,-0.003946,0.060509,-0.065216,SPRINGWOOD SURGERY,A81005
1,A81007,113482.49,951.06,0.008381,-0.007582,0.060509,-0.125308,BANKHOUSE SURGERY,A81007
2,A81011,159507.03,816.02,0.005116,-0.010847,0.060509,-0.179263,CHADWICK PRACTICE,A81011
3,A81012,83296.81,1145.11,0.013747,-0.002216,0.060509,-0.036615,WESTBOURNE MEDICAL CENTRE,A81012
4,A81017,232656.17,1712.15,0.007359,-0.008604,0.060509,-0.142190,WOODBRIDGE PRACTICE,A81017

In [151]:
print(merge_scripts_practice_z_scores.shape)

(856, 9)

In [152]:
merge_scripts_practice_z_scores = merge_scripts_practice_z_scores.sort_values('name', ascending = True)

In [154]:
merge_scripts_practice_z_scores.drop_duplicates(subset = ['code', 'name'], inplace = True)

In [156]:
merge_scripts_practice_z_scores.head()

,practice,total_cost,rare_cost,rare_cost_prop,relative_rare_cost_prop,standard_errors,z-score,name,code
629,P87652,41866.90,271.21,0.006478,-0.009485,0.060509,-0.156754,1/LOWER BROUGHTON MEDICAL PRACTICE,P87652
627,P87020,70409.18,291.06,0.004134,-0.011829,0.060509,-0.195493,2/ST ANDREWS MEDICAL PRACTICE,P87020
630,P87654,73060.62,208.44,0.002853,-0.013110,0.060509,-0.216661,3/LOWER BROUGHTON MEDICAL PRACTICE,P87654
631,P87659,41531.09,667.62,0.016075,0.000112,0.060509,0.001856,3/ST ANDREWS MEDICAL CENTRE,P87659
628,P87036,29124.57,311.13,0.010683,-0.005280,0.060509,-0.087263,4/LOWER BROUGHTON MEDICAL PRACTICE,P87036

In [159]:
rare_scripts = []

for indew, row in merge_scripts_practice_z_scores.iterrows():
    rare_scripts.append((row['practice'], row['name'], row['z-score']))
    
rare_scripts = sorted(rare_scripts, key = lambda x : x[2], reverse = True)[:100]

In [160]:
rare_scripts

[('Y03472', 'CONSULTANT DIABETES TEAM', 16.262687124655073),
 ('Y05320', 'DMC COMMUNITY DERMATOLOGY RBWF', 15.128648195416869),
 ('Y04404', 'OUTPATIENTS JUBILEE HEALTH CENTRE', 7.542139356104622),
 ('Y03484', 'DMC COMMUNITY DERMATOLOGY CLINIC', 7.2872222002978235),
 ('Y04424', 'DMC HEALTHCARE', 6.8386141814328685),
 ('Y00631', 'BINGLEY DERMATOLOGY CLINIC', 5.75599754983774),
 ('A89038', 'BARMSTON MEDICAL CENTRE', 5.664940368539937),
 ('Y01696', 'BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 4.29068517147492),
 ('Y03699', 'OLDHAM DERMATOLOGY SERVICE', 4.103743999157243),
 ('Y02045', 'VERNOVA HEALTHCARE CIC', 3.1807154704143983),
 ('Y02823', 'DMC VICARAGE LANE', 3.054121649498702),
 ('Y00997', 'COMMUNITY DERMATOLOGY SERVICE', 3.0181283595352766),
 ('Y05019', 'OLDHAM TOTAL SKIN SERVICE', 2.7247515958989283),
 ('Y01003', 'BURY OOH', 2.350436347139857),
 ('Y05431', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 2.037158543233387),
 ('Y03557', 'IPU 10-17 RECOVERY COVENTRY', 2.0304495001187792),
 ('Y05419', 'WEEKEND WORKING EASINGTON NORTH', 2.0029603055317033),
 ('Y05434', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.6178155618028067),
 ('L84042', 'LONDON MEDICAL PRACTICE', 1.6040122379818675),
 ('Y04871', 'LEARNING ASSESSMENT & NEUROCARE BURY', 1.4408185020947357),
 ('Y05432', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.3052021753375496),
 ('F86057', 'THE WILLOWS PRACTICE', 1.28095628189427),
 ('L81673', 'BCH DERMATOLOGY SERVICE', 1.277947442927498),
 ('Y04089', 'VIRGIN CARE (MIDDLESBROUGH)', 1.205585821536491),
 ('Y03762', 'BASSETLAW HEALTH PARTNERSHIP', 1.154769031099774),
 ('Y05430', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.1227604679867655),
 ('B85030', 'SCRIVINGS CLECKHEATON HLTH CTR', 1.1035023773365622),
 ('P81736', 'WHITEFIELD HEALTHCARE', 1.0939581886026766),
 ('Y00570', 'GP LED DERMATOLOGY SERVICE', 1.0515619152791937),
 ('Y04606', 'LANCASTER HOUSE CONTINENCE', 1.032851595393472),
 ('P81712', 'DARWEN HEALTH CENTRE', 1.0286324480322655),
 ('Y05433', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.027801098310148),
 ('Y02943', 'NEUROLOGY LONG TERM CONDITIONS', 0.9576943719522105),
 ('P84051', 'EASTLANDS MEDICAL CENTRE', 0.9070372260702891),
 ('Y02203', 'DURHAM DALES EAST DERMATOLOGY', 0.8830665514715625),
 ('G82704', 'THE CHURCH VIEW PRACTICE', 0.8688187586905577),
 ('F81070', 'GRAFTON SURGERY', 0.8466362126601984),
 ('Y05435', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 0.8245199350473514),
 ('P82625', 'CHARLOTTE STREET SURGERY', 0.7738455888380998),
 ('P82640', 'AL FAL MEDICAL GROUP', 0.7188956515487627),
 ('F84706', 'DR SKS SWEDAN', 0.7187925567143413),
 ('Y01168', 'COMMUNITY GYNAECOLOGY SERVICE', 0.6802947549377423),
 ('N81080', 'NORTHGATE MEDICAL CENTRE', 0.6661638079014606),
 ('A87022', 'NORTHUMBERLAND PARK MEDICAL GROUP', 0.6387318815059376),
 ('B83058', 'THE AVICENNA MEDICAL PRACTICE', 0.5975595360581424),
 ('M85766', 'BALSALL HEATH HEALTH CENTRE (S)', 0.5631450010961301),
 ('G81658', 'THE STATION PRACTICE', 0.533188875107734),
 ('M85715', 'SOHO ROAD PRIMARY CARE CENTRE', 0.5292269288022785),
 ('E85659', 'DR RK KUKAR  PARKVIEW CTR FOR H&W', 0.5224575320213931),
 ('M85716', "DR KHUROO'S PRACTICE", 0.5057276127409469),
 ('B83067', 'THE SPRINGFIELD SURGERY (BINGLEY)', 0.5014826110568851),
 ('B84011', 'CHURCH LANE SURGERY', 0.49715254408668097),
 ('B83032', 'BRADFORD MOOR PRACTICE', 0.48460185193411554),
 ('Y00469', "DR MA SIMS' PRACTICE", 0.48078982342767684),
 ('H81034', 'MADEIRA MEDICAL', 0.4734461208205329),
 ('A83071', 'THE NEW SEAHAM MEDICAL GROUP', 0.44933129312623227),
 ('P91633', 'GROVE MEDICAL PRACTICE', 0.41490953303333816),
 ('P84032', 'DR MOKASHI', 0.4141211782441941),
 ('F84086', 'DR DRIVER & PARTNERS', 0.41010853569042116),
 ('C83041', 'THE WOODLAND MEDICAL PRACTICE', 0.40138982620909),
 ('G82162', 'RAINHAM HEALTHY LIVING CENTRE', 0.39392297907617313),
 ('A83051', 'MARLBOROUGH SURGERY', 0.37782755311560756),
 ('C84714', 'SUNRISE MEDICAL PRACTICE (GHATTAORA)', 0.36171473108349383),
 ('B82016', 'EAST PARADE SURGERY', 0.35577024633371856),
 ('C84691', 'HIGHGREEN PRACTICE (KHAN)', 0.34336153334736275),
 ('L82001', 'LANDER MEDICAL PRACTICE', 0.3323566542194172),
 ('G84027', 'ELM HOUSE SURGERY', 0.3299204843833724),
 ('Y02957', 'LEWISHAM GP LED HEALTH CENTRE', 0.32435502195888544),
 ('G85095', 'MANOR PLACE SURGERY', 0.31837462196154376),
 ('E82656', 'CASSIO SURGERY - E82656', 0.30990494051873857),
 ('M91017', 'NORTHGATE MEDICAL CENTRE', 0.30899661675601403),
 ('L84008', "ST.GEORGE'S SURGERY", 0.30305528350252675),
 ('P81099', 'DR THM MACKENZIE & PARTNERS', 0.2999109640678614),
 ('E85018', "DR SOOD'S PRACTICE", 0.28911226062072903),
 ('Y04951', 'ARDEN HEALTHCARE CENTRE', 0.2887489271620816),
 ('N82051', 'BREEZE HILL - SSP HEALTH LIMITED', 0.2804685439423992),
 ('H81097', 'RIVER WEY MEDICAL PRACTICE', 0.27919324662181383),
 ('C82667', 'THE CHARNWOOD PRACTICE', 0.27023096949600744),
 ('C87622', 'GATEWAY PRIMARY CARE', 0.2664585596184698),
 ('E85723', 'NORTHOLT FAMILY PRACTICE', 0.2652802051946742),
 ('C84013', 'BRIDGEGATE AND TALL TREES PARTNERSHIP', 0.2636693526495313),
 ('E85126', 'GREEN PRACTICE', 0.26221153146662585),
 ('P92024', 'THE CHANDLER SURGERY', 0.2605157549862781),
 ('Y01929', 'TELDOC', 0.25690238903585066),
 ('K82078', 'DR ALLAN AND PARTNERS', 0.25335734886371236),
 ('M85068', 'THE VESEY PRACTICE', 0.25158414215632136),
 ('G85034', 'NEXUS HEALTH GROUP', 0.24781145269396002),
 ('P88023', 'HEALD GREEN HEALTH CENTRE 2', 0.2421685153906031),
 ('M83629', 'DRAYTON ROAD SURGERY', 0.2336160725696232),
 ('M83063', 'NORTON CANES HEALTH CENTRE', 0.23290147960328156),
 ('H81615', 'FARNHAM DENE MEDICAL PRACTICE', 0.2324231396807284),
 ('D81024', 'THOMAS WALKER', 0.22415411809062785),
 ('K83051', 'WEAVERS MEDICAL', 0.2220104258358029),
 ('G85134', 'THE LISTER PRIMARY CARE CENTRE', 0.21810202517578278),
 ('Y00278', 'DARLASTON HEALTH CENTRE-KHAN', 0.21228353307860806),
 ('Y02671', 'THE PRACTICE HEART OF HOUNSLOW', 0.20880880182432457),
 ('F84631', 'DR PI ABIOLA', 0.20539081662007092),
 ('B81012', 'DR AP KUMAR', 0.20369059525865602),
 ('C83613', 'CAISTOR HEALTH CENTRE', 0.20350023874284526),
 ('M91614', 'STROUD PRACTICE', 0.2005052860927231)]

In [161]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*